
services:
  tileserver:
    image: maptiler/tileserver-gl
    container_name: tileserver
    ports:
      - "8080:8080"
    volumes:
      - ./data:/data
    command: ["--mbtiles", "/data/antananarivo.mbtiles"]
