services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    container_name: laravel_app
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - laravel
    depends_on:
      - db

  web:
    image: nginx:latest
    container_name: laravel_web
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./ngnix/conf.d:/etc/nginx/conf.d
    networks:
      - laravel
    depends_on:
      - app

  db:
    image: postgres:16
    container_name: laravel_db
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laraveluser
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    networks:
      - laravel
    volumes:
      - pgdata:/var/lib/postgresql/data

  node:
    image: node:20
    container_name: laravel_node
    working_dir: /var/www
    command: sh -c "npm install && npm run dev"
    volumes:
      - ./:/var/www
    networks:
      - laravel
    depends_on:
      - app
      - web

  
networks:
  laravel:

volumes:
  pgdata:
